lab_1and2/1/xsd.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="root">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="questions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="step" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="answer" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="name" use="required"/>
                                  <xs:attribute type="xs:byte" name="cost" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="required"/>
                        <xs:attribute type="xs:byte" name="points" use="required"/>
                        <xs:attribute type="xs:byte" name="time" use="required"/>
                        <xs:attribute type="xs:byte" name="difficulty" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
            <xs:attribute type="xs:string" name="theme"/>
            <xs:attribute type="xs:byte" name="countQuestions"/>
            <xs:attribute type="xs:byte" name="time"/>
            <xs:attribute type="xs:byte" name="allPoints"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="EXTERNAL_XML_VERSION"/>
    </xs:complexType>
  </xs:element>
</xs:schema>